@font-face {
    font-family: raleway;
    src: url(/fonts/Raleway-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: raleway;
}

#bookshelf {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border: 1px solid black;
    width: 100vh;
    height: 75vh;
    margin-top: 6rem;
}

h1 {
    align-items: start;
}

li {
    border-radius: 30px;
    list-style: none;
    text-align: center;
}

button {
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    border-radius: 30px;
    border: 1px solid black;
    list-style: none;
    width: 40px;
    height: 40px;
    /*color: #ffff;*/
    font-weight: bold;
}

button.pendiente {
    background: red;
}

button.terminado {
    background: green;
}

button:hover {
    color: white;
}

nav {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.3);
}

#container {
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border: 1px solid black;
    width: 100%;
    height: 100vh;
}

.book-container {
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.form-container {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.show-form {
    opacity: 1;
    pointer-events: unset;
}

.form-content {
    display: grid;
    gap: 1rem;
    border-radius: 19px;
    border: 1px solid black;
    padding: 1rem;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 30%;
}

legend {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    color: white;
    font-weight: bold;
}

.column-item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    color: white;
    font-weight: bold;
}

.item-space {
    width: 50%;
}